body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #ff851b;
}

.container {
  position: relative;
  left: 0;
  background: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: left 500ms ease-out 0;
  -moz-transition: left 500ms ease-out 0;
  -o-transition: left 500ms ease-out 0;
  transition: left 500ms ease-out 0;
}
.container:hover {
  left: 200px;
}
.container > p {
  font-size: 2em;
  color: #aaaaaa;
}
